/target
installation/packaging/bin/keyboard/data
installation/packaging/bin/keyboard/installation/packaging/virtboard
installation/packaging/bin/keyboard/target/release/fingerboard
.vscode/settings.json
