/* Theme the label where entered text is displayed */
/* window box:nth-child(2)> label {
  background-image: url("pic.png");
  font-size: 0.75em;
}*/

/* Theme the suggestion buttons */
/*window frame button {
  background-image: url("pic.png");
}*/


.key{
  padding: 0px;
}

/*Change the style of the node with the style class modifier*/
.return{
  background: @theme_selected_bg_color; /* #1c71d8; */
  border-color: @borders; /*#1a5fb4;*/
}

.locked{
  background: whitesmoke;
  border-color: @borders; /*#1a5fb4;*/
}